doctype 5
html(lang="es")
	head
		meta(charset="utf-8")
		|<meta name="viewport" content="width=device-width, initial-scale=1.0">
		!= SocketStream
		title Io Ventas
		block head
	body
		block index
		block foot
			script(src="http://code.jquery.com/jquery.js")
			script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")